<div class="row">
    <div class="col-md-6">
        <form (ngSubmit)="sendSignUp()" #signUpForm="ngForm">
            <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="UserFoundSignUp">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p><strong>Email is already taken</strong> You should try another email</p>
            </div>
            <div class="form-group">
                <div [ngClass]="{'has-danger': Email.invalid && Email.touched }">
                    <label for="Email">Email address</label>
                    <input class="form-control" type="email" [(ngModel)]="SignUp.email" name="Email" required placeholder="john@doe.com" #Email="ngModel">
                    <span class="form-control-feedback" *ngIf="Email.invalid && Email.touched">Email is required</span>
                </div>
                <small class="form-text text-muted">We'll never share you email</small>
            </div>
            <div class="form-group">
                <div [ngClass]="{'has-danger': Password.invalid && Password.touched }">
                    <label for="Password">Password</label>
                    <input class="form-control" type="password" [(ngModel)]="SignUp.password" name="Password" required #Password="ngModel">
                    <span class="form-control-feedback" *ngIf="Password.invalid && Password.touched">Password is required</span>
                </div>
                <small class="form-text text-muted">We don't store your password</small>
            </div>
            <div class="form-group">
                <label for="Username">Username</label>
                <input class="form-control" type="text" [(ngModel)]="SignUp.username" name="username">
            </div>
            <div class="form-group">
                <label for="First Name">First Name</label>
                <input class="form-control" type="text" [(ngModel)]="SignUp.f_name" name="first_name">
            </div>
            <div class="form-group">
                <label for="Last Name">Last Name</label>
                <input class="form-control" type="text" [(ngModel)]="SignUp.l_name" name="last_name">
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="signUpForm.invalid">SignUp</button>
        </form>
    </div>
    <div class="col-md-6">
        <form (ngSubmit)="sendLogin()" #loginForm="ngForm">
            <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="UserNotFoundLogIn">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p><strong>Email and Password</strong> are not matching. You should try again</p>
            </div>
            <div class="form-group" [ngClass]="{'has-danger': loginEmail.invalid && loginEmail.touched }">
                <label for="Email">Email Address</label>
                <input class="form-control" type="email" [(ngModel)]="Login.email" name="loginEmail" #loginEmail="ngModel" required>
                <span class="form-control-feedback" *ngIf="loginEmail.invalid && loginEmail.touched">Email is required</span>
            </div>
            <div class="form-group" [ngClass]="{'has-danger': logInPassword.invalid && logInPassword.touched }">
                <label for="Password">Password</label>
                <input class="form-control" type="password" [(ngModel)]="Login.password" name="logInPassword" #logInPassword="ngModel" required>
                <span class="form-control-feedback" *ngIf="logInPassword.invalid && logInPassword.touched">Password is required</span>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login!</button>
        </form>
    </div>
</div>
